
<div class="jumbotron" style="width:75%; margin:20px auto;">
	<div align="center">
		<a href="index.html" class="btn btn-primary">Home</a>

		<a href="projects.html" class="btn btn-primary">Projects</a>

		<a href="contact.html" class="btn btn-primary">Contact</a>
	</div>

	<h1>This is a large heading.</h1>

	<h2>This is an h2.</h2>

	<h6>This is an h6.</h6>

	<p>This is a paragraph.</p>

	<!-- 
		&nbsp; injects extra space 
		these are html entities and there are many more
	-->
	<p>Lorem &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ipsum dolor sit amet, consectetur adipisicing elit. Soluta sapiente vel cum saepe fugit labore unde, aliquid tempore dolores, deleniti sint, obcaecati suscipit dolorem. Corrupti, a. Vel at, quos assumenda?</p>

	<!-- this direct injection of CSS styling inline is NOT best practice! DO NOT DO! -->
	<ul style="list-style-type:none;">
	    <li>Bananas</li>
	    <li>Apples</li>
	    <li>
	        <ol>
	            <li>Carrots</li>
	            <li>Peppers</li>
	        </ol>
	        
	        <form action="htto://website.com/processing" method="post">
	        <!-- div and br are doing the same thing but best practice dictates to use div's -->

	            <div>
	                <label for="first">First Name</label>
	                <input name="first_name" type="text">
	            </div>

	            <label for="password">Password</label>
	            <input name="passwordtype="password"><br>

	            <input type="submit"><br>
	            <button>Log In</button><br>
	            <input type="checkbox">
	            <input type="radio">
	            <select name="" id="">
	                <option value="">2017</option>
	                <option value="">2018</option>
	                <option value="">2019</option>
	            </select>
	        </form>

	    </li>
	</ul>
	<div>
		<table>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Email</th>
			</tr>
			<tr>
				<td>Rick</td>
				<td>...</td>
				<td>555-555-5555</td>
				<td>rick@example.com</td>
			</tr>
			<tr>
				<td>Mortey</td>
				<td>...</td>
				<td>444-444-4444</td>
				<td>mortey@example.com</td>
			</tr>
			<tr>
				<td>John</td>
				<td>Doe</td>
				<td>333-333-3333</td>
				<td>john@example.com</td>
			</tr>
			<tr>
				<td>Jane</td>
				<td>Smith</td>
				<td>222-222-2222</td>
				<td>jane@example.com</td>
			</tr>
		</table>
	</div>
	    
	<div align="center">
		<img src="https://vignette.wikia.nocookie.net/rickandmorty/images/1/19/Pickle_rick_transparent.png/revision/latest/scale-to-width-down/310?cb=20171025014216" alt="Pickle Rick Image">
	</div>
</div>

