<style>
	body {
		background-color: gray;
	}
</style>

<div class="jumbotron" style="width:90%; margin:20px auto;">
  <h1 align="center" class="display-4">Look how good I am!</h1>

  </br>

  <div align="center">
      <a href="index.html" class="btn btn-primary">Home</a>

      <a href="about.html" class="btn btn-primary">About</a>

      <a href="contact.html" class="btn btn-primary">Contact</a>
  </div>


  </br>
  </br>

  <div class="container" align="center">
    <div class="row">

    <% 12.times do %>
      <div class="col-sm-12 col-md-6 col-lg-4" style="margin-bottom:50px;">
        <div class="card" style="width: 18rem;">
          <img src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/17/30/2560x1280/landscape-1500925839-golden-retriever-puppy.jpg?resize=980:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
