<h1>Matthew D. Frazier</h1>
</br>
<a href="projects.html">Projects</a>
</br>
<a href="about.html">About</a>
</br>
<a href="contact.html">Contact</a>


<p>the following was in the index page on line 19</p>
<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %> -->
